body {
  background: url("./image1.jpg");
  background-size: cover;
}
.text {
  text-align: center;
  color: aliceblue;
  font-size: 2em;
}
#count {
  color: black;
}
#results {
  text-align: center;
  color: aliceblue;
  font-size: 2em;
}
