* {
  background: rgb(225, 226, 218);
}
#input-box {
  background: rgb(226, 105, 6);
  margin: 0 auto;
  height: 400px;
  width: 300px;
  padding: 20px;
}
input {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
}
#input-btn {
  background: rgb(207, 161, 10);
  margin-top: 10px;
  padding: 10px 20px;
  font-size: medium;
  border: none;
  border-radius: 8px;
}
li {
  margin-bottom: 10px;
}
